@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Roboto:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 300ms;
}

:root {
  --left_content: 240px;
  --header_height: 70px;
  --control_height: 90px;
  --color_white: #ffffff;
  --primary: #061c4f;
  --tprimary: #3560f5;
  --tertiary: #1a3570;
  --secondary: #061641;
  --rightsidebar: #223c75;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple-primary);
}
