/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer components {
  .inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tab-active {
    color: var(--text-item-hover);
  }

  .side-bar-active {
    background-color: var(--alpha-bg) !important;
    border-left: 3px solid var(--purple-primary) !important;
    color: var(--text-item-hover) !important;
  }

  .table-no-border th,
  td {
    border: none;
  }

  .table-active {
    background-color: hsla(0, 0%, 100%, 0.2) !important;
  }

  .playlist-active {
    background: var(--alpha-bg);
  }

  .text-gradient {
    background: radial-gradient(
        50% 124.93% at 95.86% -10%,
        #3efad9 0,
        hsla(0, 0%, 100%, 0) 100%
      ),
      linear-gradient(91.56deg, #ff9357 1.54%, #9100ff 98.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-stroke1 {
    -webkit-text-stroke: 1px #60a5fa !important;
  }

  .text-stroke2 {
    -webkit-text-stroke: 1px #4ade80 !important;
  }

  .text-stroke3 {
    -webkit-text-stroke: 1px #f87171 !important;
    font-family: Roboto, sans-serif;
  }

  .rotate-center {
    border-radius: 50%;
    animation: rotate-center 8s linear infinite;
  }
  .rotate-center-pause {
    animation: rotate-center-pause 0.7s ease-in 1 reverse;
  }

  .disabled {
    cursor: not-allowed;
  }

  @keyframes rotate-center {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate-center-pause {
    0% {
      transform: rotate(0deg);
      border-radius: 50%;
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer utilities {
  .play-list-hover {
    background: var(--alpha-bg);
  }

  .play-btn-hover {
    border-color: var(--link-text-hover);
    color: var(--link-text-hover);
    transition: all 0.1s ease 0s;
  }
}

.slick-list {margin: 0 -10px;}
.slick-slide>div {padding: 0 10px;}