/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer components {
  .inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tab-active {
    color: var(--text-item-hover);
  }

  .side-bar-active {
    background-color: var(--alpha-bg) !important;
    border-left: 3px solid var(--purple-primary) !important;
    color: var(--text-item-hover) !important;
  }

  .table-no-border th,
  td {
    border: none;
  }

  .table-active {
    background-color: hsla(0, 0%, 100%, .2) !important;
  }

  .playlist-active {
    background: var(--alpha-bg);
  }

  .text-gradient {
    background: radial-gradient(50% 124.93% at 95.86% -10%, #3efad9 0, hsla(0, 0%, 100%, 0) 100%), linear-gradient(91.56deg, #ff9357 1.54%, #9100ff 98.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-stroke1 {
    -webkit-text-stroke: 1px #60a5fa;
  }

  .text-stroke2 {
    -webkit-text-stroke: 1px #4ade80;
  }

  .text-stroke3 {
    -webkit-text-stroke: 1px #f87171;
    font-family: Roboto, sans-serif;
  }
}

@layer utilities {
  .play-list-hover {
    background: var(--alpha-bg);
  }

  .play-btn-hover {
    border-color: var(--link-text-hover);
    color: var(--link-text-hover);
    transition: all 0.1s ease 0s;
  }
}