/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer components {
  .inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tab-active {
    color: var(--text-item-hover);
  }

  .side-bar-active {
    background-color: var(--alpha-bg) !important;
    border-left: 3px solid var(--purple-primary) !important;
    color: var(--text-item-hover) !important;
  }

  .table-no-border th,
  td {
    border: none;
  }

  .table-active {
    background-color: hsla(0, 0%, 100%, .2) !important;
  }

  .playlist-active {
    background: var(--alpha-bg);
  }
}

@layer utilities {
  .play-list-hover {
    background: var(--alpha-bg);
  }

  .play-btn-hover {
    border-color: var(--link-text-hover);
    color: var(--link-text-hover);
    transition: all 0.1s ease 0s;
  }
}